body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  flex-direction: column;
  align-items: center;
}

section{
  height: 300px;
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form input{
  width: 240px;
  height: 30px;
  margin: 10px 0 0 0;
  border-radius: 8px;
  border: 1px solid rgb(120, 115, 115);
}

